html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .card {
    margin-top: 30px;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-right: 10px;
  }
  button
  {
    width: 70px;
    height: 40px;
    background-color: rgba(163, 163, 149, 0.615);
    color: black;
  }