  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <img src="https://images.unsplash.com/photo-1573089028645-9c7e16d1a3a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80" alt="Image 1" class="gallery-item">
      </div>
      <div class="col-6 col-md-4">
        <img src="https://images.unsplash.com/photo-1573256512835-55828dde0e5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80" alt="Image 2" class="gallery-item">
      </div>
      <div class="col-6 col-md-4">
        <img src="https://images.unsplash.com/photo-1558053623-c4c20668e02b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80" alt="Image 3" class="gallery-item">
      </div>
    </div>
  </div>